<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind CSS Tutorial for Beginners</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="width-100">
    <ul class="flex ">
      <li class="flex justify-center"><img src="../assets/images/vehicles.png" class="w-1/5 h-auto hover:opacity-50"/></li>
      <li class="flex justify-center"><img src="../assets/images/clothes.png" class="w-1/5 h-auto hover:opacity-50 " /></li>
      <li class="flex justify-center"><img src="../assets/images/furnitures.png" class="w-1/5 h-auto hover:opacity-50 "/></li>
      <li class="flex justify-center"><img src="../assets/images/electronics.png"class="w-1/5 h-auto hover:opacity-50 " /></li>
      <li class="flex justify-center"><img src="../assets/images/guitar.png" class="w-1/5 h-auto hover:opacity-50"/></li>
      <li class="flex justify-center"><img src="../assets/images/sports.png" class="w-1/5 h-auto hover:opacity-50"/></li>
    </ul>
</div>
  </body>
</html>
